form{
    text-align: center;
    font-size: 14px;
    color: #6b121b;
    border: 1px dashed #b8bfcb;
    border-radius: 7px;
    padding: 14px;
}
fieldset{
    border: 1px dashed;
    border-radius: 6px;
    margin-bottom: 15px;
    padding-top: 0px;
    padding-bottom: 0px ;
    padding-left: 20px ;
    padding-right: 20px;
}
legend{
    color: grey;
    font-size: 13px;
    margin-bottom: 16px;
}
input{
    background-color: white;
    border-radius: 4px;
    color: #264f96;
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    outline: none;
}
button{
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
    background-color: #2a477a;
    font-size: 14px;
}
button:hover{
    color: #5376b2;
}
textarea{
    width: 450px;
    height: 50px; ;
    max-width: 493px;
    min-height: 50px;
    max-height: 200px;
    min-width: 300px;
    margin-top: 4px;
    border-radius: 4px;
    color: #264f96;
    font-size: 16px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
}
#Campos_Requeridos{
    border: #4aa248;
    box-shadow: 0 0 50 #4AA248;
}
#Campos_Invalidos{
    border: #ff7f7f;
    box-shadow: 0 0 50 #ff7f7f;
}